{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <div class="d-flex align-items-center gap-3">
        {% block title %}
        {% endblock %}
    </div>

    {% for question in page.object_list %}
        <div class="card question-card">
            <div class="card-body d-flex">
                <img src="{% static '/img/quokka-ava.jpg' %}" alt="avatar" class="rounded-circle me-3" width="50" height="50">
                <div class="flex-grow-1">
                    <h5 class="card-title"><a href="{% url 'question' question.id %}">{{ question.title }}</a></h5>
                    <p class="card-text">{{ question.text }}</p>
                    <p class="mb-1 text-muted">от quokkaFan52 | 2 часа назад</p>
                    <div class="d-flex justify-content-between">
                        <div>
                            {% for tag in question.tags.all %}
                                <a href="{% url 'tag' tag.name %}" class="badge bg-success">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                        <div>
                            <button class="btn btn-sm btn-outline-success me-2">👍 12</button>
                            <span class="text-muted">5 ответов</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% include 'partials/pagination.html' %}

<!--    <nav>-->
<!--        <ul class="pagination justify-content-center mt-4">-->
<!--            <li class="page-item disabled"><a class="page-link" href="#">Пред</a></li>-->
<!--            <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">5</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">След</a></li>-->
<!--        </ul>-->
<!--    </nav>-->
{% endblock %}