{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<h2 class="mb-4">Задать вопрос</h2>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-3">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
                <div class="form-text">{{ field.help_text }}</div>
            {% endif %}
            {% for error in field.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-success mb-3">Опубликовать вопрос</button>
</form>
{% endblock %}
